<style>



.btn-search
 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 22px;
 }

 .btn-search:hover {
   color: #111 !important;
  background-color: aliceblue !important;
  transition: 0.8s ease-in;
 }
 

 @media(max-width: 758px) {
   .navbar-toggler-show {
    background-color: #111;
    border-radius: 7px;
   }

  .navbar a{
     color: #fff !important;
   }
   .navbar a:hover {
      color: gray  !important;
   }
 }



</style>





<nav class="navbar navbar-expand-md bg-body-black border-bottom sticky-top">
    <div class="container-fluid navbar-style">


      <a class="navbar-brand navbar" href="/listings"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler"
       type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" 
        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse navbar-toggler-show" id="navbarNavAltMarkup">
        <div class="w-100 d-md-flex justify-content-center align-items-md-center">

          <a class="nav-link" href="/listings">Explore</a>
        
      

       <div class="navbar-nav mx-auto">
    <form action="/listings/search"  method="GET" class="d-flex" role="search">
      <input class="form-control me-2" name="country" type="search" placeholder="search destinations" aria-label="Search"/>
      <button class="btnn btn-search" type="submit"> <i class="fa-solid fa-magnifying-glass"></i>&nbsp;Search</button>
    </form>
  </div>

      <div class="navbar-nav ms-auto" >
      <a class="nav-link " href="/listings/new">AirBnb your home</a>
        <%if(!currUser) {%>
          <a class="nav-link" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <%}%>
      <%  if(currUser) {%>
           <a class="nav-link" href="/logout"><b>Log out</b> </a>
      <%  }%>
      </div>
   </div>
      </div>
  </nav>
   